<!DOCTYPE html>
{%load static%}
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no, viewport-fit=cover">
	<meta name="keywords" content="">
	<meta name="description" content="">
    <title>Заголовок главной страницы</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Piazzolla:wght@400;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{%static 'css/swiper-bundle.min.css' %}">
	<link rel="stylesheet" href="{%static 'css/style.css' %}">
</head>
<body>
   {%block content%}
   {%endblock content%}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=28ba27e6-8179-45dd-8a90-a542e1883e67" type="text/javascript"></script>
	<script src="{%static 'js/swiper-bundle.min.js'%}"></script>
	<script src="{%static 'js/main.js'%}"></script>
</body>
</html>