{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="wrapper">
    <div class="content">

        <h3 contenteditable="true">{{title}} </h3>
        <input type="button" id="myButton" onclick="buttonClick();" value="Сохранить">
        <br><br>
         <p> <a href="{% url 'post_edit' title.pk%}">
                Edit </a>  </p>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {%for item in animation%}
                <div class="swiper-slide">
                    <img src="{{item.photo.url}}"
                         alt="Первая картинка">
                   </div>
                {%endfor%}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>

        </div>
        <div>

         <p> <a href="{%url 'add_photo'%}"> Dowload </a> |
                        <a href="{% url 'animation_delete' object_list.pk%}"> Delete </a> </p>
            </div>


        <div class="products-list">
            <h2>{{object_list.name_productions}}</h2>
            <ul>
                {%for item in product%}
                <li><a href="{% url 'product_detail' item.pk%}">{{item}}</a></li>
                {%endfor%}
            </ul>
        </div>
        <div id="map" data-latitude="55.76" data-longitude="37.64"></div>
        <h2>Отправить сообщение</h2>
        <form id="form">
            <input type="text" placeholder="Ваше имя" class="text-box" id="name" onfocus="blurEvent(this)" onkeyup="onChangeEvent(this)">
            <input type="text" placeholder="Электронная почта" class="text-box" id="email" onfocus="blurEvent(this)" onkeyup="onChangeEvent(this)">
            <input type="submit" value="Отправить" class="button" onclick="event.preventDefault();onSubmitEvent()">
        </form>
    </div>
</div>
{%endblock content%}