
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no, viewport-fit=cover">
	<meta name="keywords" content="">
	<meta name="description" content="">
    <title>Страница продукта</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Piazzolla:wght@400;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <a href="/" class="go-back">На главную</a>
            <h1>{{products.first.product_name}}
                <a href="{%url 'product_name_edit' products.first.pk%}">
                Edit </a>  </h1>
            {%for item in products%}
            <img src="{{item.product_photo.url}}"
                 alt="Какой-то продукт" class="product-image">
            <p><a href="{% url 'product_detail_delete' products.first.pk%}">Delete_photo </a> </p>
            {%endfor%}
              <p>  <a href="{%url 'product_detail_add_photo'%}">
                Add_photo </a>  </p>
            <div class="product-info">
                <div class="product-info-item">
                    <h2>
                        <p>{{title_product.0.title}} <a href="{% url 'product_name_edit' title_product.0.pk%}">
                Edit_spisok </a> </p>
                        {%for i in punkts1%}
                        <p>{{i}}<a href="#">
                Edit </a> </p>
                        {%endfor%}
                         {%for i in punkts4%}
                        <p>{{i}}<a href="#">
                Edit </a> </p>
                        {%endfor%}

                        <p>{{title_product.1.title}} <a href="{% url 'product_name_edit' title_product.1.pk%}">
                Edit_spisok </a> </p>
                        {%for i in punkts2%}
                        <p>{{i}}<a href="#">
                Edit </a> </p>
                        {%endfor%}
                        {%for i in punkts5%}
                        <p>{{i}}<a href="#">
                Edit </a> </p>
                        {%endfor%}

                        <p>{{title_product.2.title}} <a href="{% url 'product_name_edit' title_product.2.pk%}">
                Edit_spisok </a></p>
                        {%for i in punkts3%}
                        <p>{{i}}<a href="#">
                Edit </a> </p>
                        {%endfor%}
                        {%for i in punkts6%}
                        <p>{{i}}<a href="#">
                Edit </a> </p>
                        {%endfor%}
                    </h2>

                </div>


            </div>
        </div>
    </div>
</body>
</html>